doctype html "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"
html(xmlns="http://www.w3.org/1999/xhtml") 
    head
        if background == 'scifi'
            link(rel="stylesheet" href="/public/styles/scifi.css")
        else if background == 'fantasy'
            link(rel="stylesheet" href="/public/styles/fantasy.css")
        else if background == 'horror'
            link(rel="stylesheet" href="/public/styles/horror.css")
        else if background == 'romance'
            link(rel="stylesheet" href="/public/styles/romance.css")
        else 
            link(rel="stylesheet" href="/public/styles/styles.css")
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body 
        nav.navbar 
            a(href="/")
                button.submit-button Home
            form.nav-form
                    input#title-input.nav-input(type="text" name="book_title" placeholder="Enter Book Title")
                    input#author-input.nav-input(type="text" name="author_name" placeholder="Enter an Author")
                    button.submit-button(type="submit") Search
            if validUser
                a(href='/profile')
                    button.submit-button Profile
            else 
                a(href='/loginpage')
                    button.submit-button Log In
        h1 "#{title_result}"
        #preview-div
            script(type="text/javascript" src="https://books.google.com/books/previewlib.js")
            script(type="text/javascript").
                let bookQuery = !{bookISBN}
                GBS_insertEmbeddedViewer(bookQuery,540,700);
        .main-div2
            a(href="/api/author-info?author=$"+author_result) 
                p.subheader Author: #{author_result}
            p#title_description #{description}
            button#list-button.submit-button2(value=title_result title="Add to my reading list")
                i(class="fa-solid fa-book")
            button#fav-book-btn.submit-button2(value=author_result title="Declare as my favorite book")
                i(class="fa-solid fa-star")
            h2 Search Again!
            .form-div
                form.action-form
                    .action-form2
                        input#title-input.main-input(type="text" name="book_title" placeholder="Enter Book Title")
                        input#author-input.main-input(type="text" name="author_name" placeholder="Enter an Author")
                    button.submit-button(type="submit") Search
        script(src="/public/scripts/script.js")
        script(src="/public/scripts/navscript.js")
        script(src="/public/scripts/booklist.js")
        script(src="https://kit.fontawesome.com/ecb9e33d3c.js" crossorigin="anonymous")